<ion-view view-title="Daily Functal">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding has-header fa-help">
        <table>
            <tr>
                <td><span class='icon-large ion-ios-download-outline'></span></td>
                <td>One of Daily Functal's main uses to to give you an endless variety of beautiful images to use as your screen background. We can't do this directly on iOS, so first you'll need to save your favourite functal to your photos, and then go to your photos to select it and set it as your background.</td>
            </tr>
            <tr>
                <td><span class='icon-large ion-ios-upload-outline'></span></td>
                <td>You can share functals to Facebook, Twitter and other other sites available on your device.</td>
            </tr>
            <tr>
                <td><span class='icon-large ion-thumbsup'></span> <span class='icon-large ion-thumbsdown'></td>
                <td>Daily Functal is constantly creating new images, and you can control which ones are kept by voting for the ones you like, and also showing which ones you don't like.<br/>After voting, the number of votes from all users are shown to you. Those you have dlisliked won't be shown to you again after a new list is loaded. And those with more dislikes than likes are soon removed from Daily Functal's central library.</td>
            </tr>
            <tr>
                <td><strong>Shuffle</strong></td>
                <td>Show a random selection from Daily Functal's huge library of images.</td>
            </tr>
            <tr>
                <td><strong>New</strong></td>
                <td>Shows the latest creations from Daily Functal. Selecting again will show the oldest ones.</td>
            </tr>
            <tr>
                <td><strong>Popular</strong></td>
                <td>Shows those images that have many more likes than dislikes. Selecting again will show those at the bottom of the list.</td>
            </tr>
            <tr>
                <td colspan='2'>
                    <h3>Follow Daily Functal</h3>
                </td>
            </tr>
            <tr>
                <td><span class='icon-large ion-social-facebook'></span></td>
                <td><a href="#" onclick="window.open('https://www.facebook.com/dailyfunctal', '_system', 'location=yes')">facebook.com/dailyfunctal</a></td>
            </tr>
            <tr>
                <td><span class='icon-large ion-social-twitter'></span></td>
                <td><a href="#" onclick="window.open('https://twitter.com/dailyfunctal', '_system', 'location=yes')">twitter.com/dailyfunctal</a></td>
            </tr>
            <tr>
                <td><span class='icon-large ion-social-tumblr'></span></td>
                <td><a href="#" onclick="window.open('http://functal.tumblr.com', '_system', 'location=yes')">tumblr.functal.com</a></td>
            </tr>
        </table>
    </ion-content>
</ion-view>
