<ion-view view-title="Daily Functal">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding has-header fa-help">
        <table>
            <tr>
                <td><span class='icon-large ion-ios-download-outline'></span></td>
                <td>Daily Functal aims to delight you with beautiful images, streamed into your phone every day, for you to use as screen backgrounds or in any way your inspiration takes you. We can’t let you directly set them as your background due to iOS rules, so you’ll need to save your favourites to your photos first, then go to your photos and select the image from there.
                </td>
            </tr>
            <tr>
                <td><span class='icon-large ion-ios-upload-outline'></span></td>
                <td>You can share functals to Facebook, Twitter and other other apps available on your phone.</td>
            </tr>
            <tr>
                <td><span class='icon-large ion-thumbsup'></span> <span class='icon-large ion-thumbsdown'></td>
        <td>
            <p>Daily Functal is constantly creating new images, pumping new ones out to you every day.  The style of images created and presented depends on your votes - for or against - the images you see.</p>

            <p>
                Vote for the kind of images you want to see more of, and against the kind of images you want to see less of.  In this way, you will be co-creating the kind of images you see, by influencing the probability of which ones will be presented to your phone.
            </p>

            <p>Images with more dislikes than likes will eventually disappear altogether from Daily Functal’s central library, which currently houses thousands of uniquely formulated designs.
            </p>

            <p>These amazing mathematically generated fractal images are endlessly beautiful and varied. Start shaping the ones you want to see today, and every day.
            </p>
        </td>
    </tr>
    <tr>
        <td><strong>Shuffle</strong></td>
        <td>Show a random selection from Daily Functal's huge library of images.</td>
    </tr>
    <tr>
        <td><strong>New</strong></td>
        <td>
        <p>Shows the latest creations from Daily Functal. Selecting again will show the oldest ones.</p>
        <p>Quick return to top - touch the Daily Functal heading.</p>
        </td>
    </tr>
    <tr>
        <td><strong>Popular</strong></td>
        <td>Shows those images that have many more likes than dislikes. Selecting again will show those at the bottom of the list.</td>
    </tr>
    <tr>
        <td colspan='2'>
            <h3>Follow Daily Functal</h3>
        </td>
    </tr>
    <tr>
        <td><span class='icon-large ion-social-facebook'></span></td>
                <td><a href="#" onclick="window.open('https://www.facebook.com/dailyfunctal', '_system', 'location=yes')">facebook.com/dailyfunctal</a></td>
            </tr>
            <tr>
                <td><span class='icon-large ion-social-twitter'></span></td>
                <td><a href="#" onclick="window.open('https://twitter.com/dailyfunctal', '_system', 'location=yes')">twitter.com/dailyfunctal</a></td>
            </tr>
            <tr>
                <td><span class='icon-large ion-social-tumblr'></span></td>
                <td><a href="#" onclick="window.open('http://functal.tumblr.com', '_system', 'location=yes')">tumblr.functal.com</a></td>
            </tr>
        </table>
    </ion-content>
</ion-view>
