<ion-view view-title="Daily Functal">
    <ion-content class="padding text-center">
        <div id="top"></div>
        <div class="list card" ng-repeat="image in images | limitTo : showCount">
            <div class="item item-body">
                <img class="img-responsive" ng-src="{{cdn}}{{image}}" />
            </div>
        </div>
        <ion-infinite-scroll on-infinite="showMore()" distance="1%" immediate-check='false'>
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-stable" style='text-align: center'>
        <div style='width:100%'>
            <div class="buttons">
                <button class="button" ng-class='{"button-positive" : sorter === "desc"}' ng-click='sortBy("desc")'>Latest</button>
                <button class="button" ng-class='{"button-positive" : sorter === "shuffle"}' ng-click='sortBy("shuffle")'>Shuffle</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
