@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

.img-responsive {
    margin: 0 auto;
    max-width: 100%;
}


h1, h2, .bar .title {
    font-family: 'Open Sans', sans-serif;
}
