.img-responsive {
    margin: 0 auto;
    max-width: 100%;
}

.icon-large {
    font-size:200%;
}

.fa-actions {
    margin-top:10px;
}

.fa-actions span {
    margin-right:25px;
}

.fa-vote-like {
    color:#ffd800;
}

.fa-vote-dislike {
    color:#46b8f2;
}

ion-footer-bar .buttons .button {
    margin-left:10px;
    margin-right:10px;
}